<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
    margin: 0;
    padding: 108px;
   
}
body{
    background:linear-gradient(#300871,#4B4453,#B1A8B9);
}
h1{
font-size: 44px;
    margin: 0 auto;
    text-align: center;
    color: coral;
}
</style>
</head>
<body>
    
   <h1>welcome</h1>

</body>
</html>