<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/public/signup.css'>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(#300871,#4B4453,#B1A8B9);
}
h2{
font-size: 44px;
    margin: 0 auto;
    text-align: center;
    color: coral;
}
form{
    padding: 20px;
    background:transparent;
    max-width: 600px;
   margin: 0 auto;
   box-shadow: 0px 0px 20px rgb(18, 18, 18);
margin: 200px auto;
border-radius: 4px;
}
label{
    margin-left: 133px;
    color: rgb(244, 244, 9);
    
}

input{
    display: block;
    margin: 0 auto;
    text-align: start;
    margin-top: 9px;
    height: 27px;
    width: 300px;
    border: none;
    box-shadow: 0px 0px 4px grey;
    border-radius: 2px;
}
.submit{
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: rgb(222, 98, 9);
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
    </style>
</head>
<body>
    
    

    <form action="/signup" method="post">
        <h2>Sign Up</h2>
    <label for="">Name</label><input type="text" name="name" placeholder="Name">
    <label for="">Email-Id</label><input type="email" name="email" placeholder="Email-Id">
    <label for="">Password</label><input type="password" name="password" placeholder="Password">
    <label for="">Mobile Number</label><input type="number" name="number" placeholder="Mobile Number">
    <label for=""></label><input type="submit" class="submit">

    </form>


</body>
</html>